.nav-link, .nav-tab, .nav-link:hover, .nav-tab:hover {
    color: white;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: 1px solid #cccccc;
    padding: 8px;
}

th{
    font-weight: bold;
    text-transform: uppercase;
    background-color: #8f94fb;
    color: white;
}

tr:hover{
    background-color: black;
    color: white;
}
