{% extends "base.html" %}

{% block content %}
<!-- Welcome page and message -->
<div class="container-sm">
    <div class="text-center">
        <h1 class="standardText heading">
            Welcome to the Login Page!
        </h1>
    </div>
    <p class="standardText" style="text-align:center; margin-top: 40px;">
        Please enter your username and password to login and see your account activity and
        information. If you do not have an account, press create new account.
    </p>
    <!-- Form Section -->
    <br>
        <p id="displayLogin" class="standardText"></p>

        <form method="post" novalidate style="padding-top: 0px;">
            {{ form.hidden_tag() }}
            <p>
                <b>{{ form.username.label(class="labelStyling") }}</b><br>
                {{ form.username(size=512, placeholder="Please enter your username") }}
                {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                <b>{{ form.password.label(class="labelStyling") }}</b><br>
                {{ form.password(size=512,  placeholder="Please enter your password") }}
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(class="submitButton") }}</p>
        </form>
</div>
{% endblock %}
