.standardText {
    font-family: Helvetica
}

.heading {
    font-weight: bold;
}

input[type=text], input[type=password], input[type=number], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgba(53, 11, 206);
    box-sizing: border-box;
    font-family: Helvetica;
    border-radius: 15px;
}


.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}


#userIcon{
    position: relative;
    margin-right: 30px;
    margin-top: 0px;
}

label.labelStyling{
    text-align: center;
    width: 100%;
}

.submitButton:hover {
    opacity: 0.5;
  }

.submitButton {
    background-color: rgb(53, 11, 206);
    color: rgb(255, 251, 0);
    padding: 12px 20px;
    width: 100%;
    border: none;
    font-family: Helvetica;
    border-radius: 15px;
}

.standardButton {
    margin-top: 15px;
    margin-bottom: 15px;
}
