{% extends "base.html" %}

{% block header %}
<!-- Import JS -->
<script type="text/javascript" src="{{ url_for('admin.static', filename='js/code.js') }}"></script>

<!-- Import CSS -->
<link rel="stylesheet" href="{{ url_for('admin.static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<!-- Page heading and description -->
<div class="container-sm">
    <h1 class="standardText heading text-center">
        Welcome to the Admin Page!
    </h1>
    <!-- Refresh the list of users button -->
    <div class="col-lg-8 offset-lg-2">
        <table id="adminTable" class="standardTable">
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Role</th>
                <th>Delete</th>
            </tr>
        </table>
    <div>
</div>

<!-- Body onload -->
<script>
    initTable();
</script>

{% endblock %}