{% extends "base.html" %}

{% block header %}
<script type="text/javascript" src="{{ url_for('game.static', filename='js/code.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('game.static', filename='css/code.css') }}">
{% endblock %}

{% block content %}
<div class="container-sm">
    <div class="coding">
        <h3>Enter Code here</h3>
        <form>
            <textarea id="code" name="code" rows="4" cols="100"></textarea>
        </form>
        <h3 id="score"></h3>
        <div class=buttons>
            <button onclick="showMap()" class="button3">Show Map</a>
            <button onclick="previewMap()" class="button3">Preview Map</a>
            <button onclick="submit()" class="button3">Submit </a>
        </div>
    </div>
</div>


<script>
    init();
</script>
{% endblock %}
