<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>County</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}">
    </script>

     <!-- JQUERY -->
     <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    {% block header %}{% endblock %}
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md sticky-top navbar-light" style="background-color:#8f94fb;">
      {% if current_user.is_authenticated %}
      <div id="userIcon">
          <ul>
            <li>
                <a style="color: white;"><img src = "https://ui-avatars.com/api/?name={{current_user.name}}&rounded=true&bold=true" alt="img" style="max-width: 30px; max-height: 30px"> {{current_user.name}}</a>
            </li>
          </ul>
      </div>
      {% endif %}
      <div class="navbar-nav">  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home.page') }}" style="color: white;">Homepage</a>
            </li>
          <li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('leaderboard.page') }}" style="color: white;">Leaderboard</a>
          </li>
          {% if current_user.is_authenticated %}
            {% if current_user.admin %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.panel') }}" style="color: white;">Admin Panel</a>
              </li>
            {% endif %}
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('game.page') }}" style="color: white;">Game</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}" style="color: white;">Logout</a>
          </li>
          {% endif %}
          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}" style="color: white;">Login</a>
          </li>
          <li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.signup') }}" style="color: white;">Signup</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container-fluid" style="padding: 0%;">
      <div class="area">
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>
