{% extends "base.html" %}
{% block header %}
<script type="text/javascript" src="{{ url_for('leaderboard.static', filename='js/leaderboard.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('leaderboard.static', filename='css/leaderboard.css') }}">
{% endblock %}
{% block content %}
<div class = "container-sm">
    <nav>
  <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist" >
    <button class="nav-link active" id="nav-total-tab" cits3403-leaderboard-type="total" data-bs-toggle="tab" data-bs-target="#nav-total" type="button" role="tab" aria-controls="nav-total" aria-selected="true" style="color: black;">Total</button>
    <button class="nav-link" id="nav-latest-tab" cits3403-leaderboard-type="latest" data-bs-toggle="tab" data-bs-target="#nav-latest" type="button" role="tab" aria-controls="nav-latest" aria-selected="false" style="color: black;">Latest</button>
    <button class="nav-link" id="nav-all-tab" cits3403-leaderboard-type="all" data-bs-toggle="tab" data-bs-target="#nav-all" type="button" role="tab" aria-controls="nav-all" aria-selected="false" style="color: black;">All</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-total" role="tabpanel" aria-labelledby="nav-total-tab">
      <br>
      <table >
        <thead>
            <tr>
                <th>Username </th>
                <th onclick="sortData('count', 'number')">Count</th>
            </tr>
        </thead>

        <tbody id="tableData-total"></tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="nav-latest" role="tabpanel" aria-labelledby="nav-latest-tab">
      <br>
      <table >
        <thead>
            <tr>
                <th>Username </th>
                <th onclick="sortData('count', 'number')">Count</th>
            </tr>
        </thead>

        <tbody id="tableData-latest"></tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
      <br>
      <table >
        <thead>
            <tr>
                <th onclick="sortData('date', 'string')">Date</th>
                <th>Username </th>
                <th onclick="sortData('count', 'number')">Count</th>
            </tr>
        </thead>

        <tbody id="tableData-all"></tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}
